<html>
	<head>
		<title>Report</title>
		<style>
			/* CSS styles go here */
			body {
				font-family: Arial, sans-serif;
				background-color: #f0f0f0; /* background color */
			}
			h1 {
				text-align: center;
			}
			table {
				border-collapse: collapse;
				width: 100%;
			}
			th,
			td {
				border: 1px solid black;
				padding: 8px;
				text-align: left;
			}
			th {
				background-color: #f2f2f2;
			}
			img {
				max-width: 100%;
				display: block;
				margin: 0 auto;
			}
		</style>
	</head>
	<body>
		<h1>Eye Health Report</h1>
		<table>
			<tr>
				<th>Patient Name</th>
				<td>{{patient_name}}</td>
			</tr>
			<!-- <tr>
				<th>Date of Birth</th>
				<td></td>
			</tr> -->
			<tr>
				<th>Scan Date</th>
				<td>{{date}}</td>
			</tr>
			<tr>
				<th>Scan Type</th>
				<td>OCT and Fundus image</td>
			</tr>
			<tr>
				<th>Radiologist</th>
				<td>{{radiologist}}</td>
			</tr>
			<!-- <tr>
				<th>Scan Indication</th>
				<td>Abdominal pain and discomfort</td>
			</tr> -->
			<!-- <tr>
				<th>Scan Parameters</th>
				<td>
					<ul>
						<li>Slice thickness: 5mm</li>
						<li>KVp: 120</li>
						<li>mA: 350</li>
						<li>mAs: 175</li>
						<li>Scan time: 20 sec</li>
					</ul>
				</td>
			</tr> -->
			<!-- <tr>
				<th>Contrast</th>
				<td>Iodine based contrast was used</td>
			</tr> -->
			<!-- <tr>
				<th>Patient Instructions</th>
				<td>
					Patient was instructed to fast for 4 hours prior to the scan and to
					drink oral contrast solution.
				</td>
			</tr> -->
			<!-- <tr>
				<th>Findings</th>
				<td>
					<ul>
						<li>
							No acute abnormalities were identified in the abdomen and pelvis
						</li>
						<li>No signs of appendicitis</li>
						<li>No evidence of kidney stones or hydronephrosis</li>
						<li>No evidence of neoplasm or lymphadenopathy</li>
					</ul>
				</td>
			</tr> -->
			<tr>
				<th>Glaucoma probability from OCT:</th>
				<td>{{oct_prob}}%</td>
			</tr>
			<tr>
				<th>Glaucoma probability from fundus:</th>
				<td>{{fundus_prob}}%</td>
			</tr>
			<tr>
				<th>Glaucoma probability weighted average:</th>
				<td>{{weighted_avg_prob}}%</td>
			</tr>
			<tr>
				<th>OCT image of patient</th>
				<!-- <td><img src="{{oct_path}}" alt="OCT image" /></td> -->
				<td><img src={{"data:image/png;base64," + oct_path}}></td>
			</tr>
			<tr>
				<th>Fundus image of patient</th>
				<!-- <td><img src="{{fundus_path}}" alt="fundus image" /></td> -->
				<td>
					<img src={{"data:image/png;base64," + fundus_path}} width="125">
				</td>
			</tr>
		</table>
	</body>
</html>
